---
import DetailsSection from "../../components/DetailsSection.astro";
import FirstSection from "../study-sets/FirstSection.astro";
import SecondSection from "../study-sets/SecondSection.astro";
import ThirdSection from "../study-sets/ThirdSection.astro";
import FooterSection from "../study-sets/FooterSection.astro";
import HomeFooter from "../../components/HomeFooter.astro";
---

<head>
  <meta name="apple-itunes-app" content="app-id=id1515133577" />
</head>

<DetailsSection />

<div class="bg-gray-100 p-6 space-y-24">
  <FirstSection />
  <SecondSection />
  <ThirdSection />
</div>

<FooterSection />
<HomeFooter />
