---
const redirectTo = "https://github.com/Rspoon3/Shotbot/blob/main/PRIVACY.MD";
const delayInSeconds = 0; // Redirect immediately
---

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content={`${delayInSeconds};url=${redirectTo}`} />
    <title>Redirecting to Privacy Policy...</title>
  </head>
  <body>
    <p>If you are not redirected automatically, follow this <a href={redirectTo}>link</a>.</p>
  </body>
</html>
