---
import Layout from "../layouts/Layout.astro";
import AboutMe from "../components/AboutMe.astro";
import AppSection from "../components/AppSection.astro";
import HomeFooter from "../components/HomeFooter.astro";
---

<Layout title="Richard Witherspoon">
  <main>
    <AboutMe />
    <AppSection />
    <HomeFooter />
  </main>
</Layout>
