---
import { Image } from "astro:assets";
import avatar from "../images/home/avatar.png";
import aboutMeLight from "../images/home/about_me.png";
import aboutMeDark from "../images/home/about_me_dark.png";
---

<div
  class="container-fluid bg-gray-100 dark:bg-neutral-950 flex flex-col items-center justify-center text-center pt-20 p-10"
>
  <Image
    src={avatar}
    alt="Ricky Witherspoon"
    class="h-48 w-auto object-contain"
  />
  <h1 class="mt-10 text-4xl font-extrabold leading-none">
    Richard Witherspoon
  </h1>
  <p class="max-w-lg mt-10 text-gray-700 dark:text-gray-400">
    I am an iOS app developer with 7 years of experience developing, testing,
    and publishing apps for the iPhone, iPad, and Mac. In addition to having
    multiple apps published on the App Store, I work full-time as a tech lead
    and iOS developer at Fetch Rewards. I earned my formal education in
    electrical engineering and economics from RIT in 2019.
  </p>
  <a
    href="https://apps.apple.com/us/developer/richard-witherspoon/id1690898003"
    class="my-button mt-10">&#63743 App Store</a
  >

  <div
    class="grid sm:grid-cols-1 md:grid-cols-2 gap-14 pt-80 justify-items-center items-center"
  >
    <picture>
      <source srcset={aboutMeDark.src} media="(prefers-color-scheme: dark)" />
      <Image
        src={aboutMeLight}
        alt="Hobbies"
        class="object-contain md:justify-self-end"
      />
    </picture>

    <div class="text-left max-w-lg">
      <h1 class="text-4xl pb-6">About Me</h1>
      <p>
        I'm a full-time iOS developer from southern New Hampshire who works
        full-time at
        <a
          href="https://fetch.com/"
          class="text-orange-500 font-semibold underline hover:text-orange-700 no-underline"
          >Fetch Rewards</a
        >
        and occasionally dabbles with creating and updating my own apps. I've been
        developing for Apple's platforms since 2017 and absolutely love it. I find
        my career to be incredibly rewarding and the iOS community is amazing. I
        look forward to seeing what my future can be
      </p>
      <h1 class="text-4xl py-6">Hobbies</h1>
      <p>
        When I'm not writing code, you can find me working out, riding my
        motorcyles, hiking, reading, and spending quality time with my fiancé
        and dog.
      </p>
    </div>
  </div>
</div>

<style>
  .my-button {
    display: inline-block;
    padding: 15px 50px;
    border-radius: 60px;
    background-color: #f61d1d;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    transition: opacity 0.3s ease;
  }

  .my-button:hover {
    text-decoration: none;
    color: #fff;
    opacity: 0.7;
  }
</style>
