---
import { Image } from "astro:assets";

const { title, appIcon, appLink } = Astro.props;
---

<header class="p-6" style="background-color: #2e2836;">
  <div class="flex items-center justify-between mx-auto max-w-6xl">
    <div class="flex items-center">
      <Image
        src={appIcon}
        alt="App Icon"
        class="h-12 w-12 mr-4 rounded-[20%]"
      />
      <h1 class="text-2xl font-bold">{title}</h1>
    </div>
    <a href={appLink} class="text-lg text-purple-300 hover:text-purple-400"
      >App Details</a
    >
  </div>
</header>
