---
import { Icon } from "astro-icon/components";
import footerLinks from "../json/footer_icons.json";

// Helper function
const getCurrentYear = () => {
  return new Date().getFullYear();
};
---

<footer class="bg-neutral-950 py-6 mt-10">
  <div
    class={`max-w-xs md:max-w-md lg:max-w-lg mx-auto grid grid-cols-5 justify-center justify-items-center gap-[max(5vw,40px)] pb-4`}
  >
    {
      footerLinks.map((link) => (
        <a href={link.href}>
          <Icon name={`bi:${link.name}`} class="text-white text-3xl" />
        </a>
      ))
    }
  </div>
  <p class="text-white text-center text-xs opacity-70">
    Copyright &copy Richard Witherspoon {getCurrentYear()}
  </p>
</footer>
